.container{
    height: 100%;
}

.container .list{
    margin-top: 150px;
    height: calc(100vh - 214px);
    overflow-y: scroll;
    box-shadow: inset 0px 0px 7px 5px #191919;
    border-radius: 20px;
    padding: 14px 10px;
    display: flex;
    gap: 6px;
    flex-direction: column;
    background: #fff;
}

.container .empty{
    font-size: 24px;
    color: #000;
    padding-top: 7px 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container .empty svg{
    fill: var(--fill-gray);
    width: 45px;
    height: 45px;
}