.item{
    background: #1e1e1e;
    box-shadow: inset 0px 0px 7px 5px #191919;
    padding: 14px 16px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
}

.item .left{
    width: 100%;
}

.item .left > div{
    display: flex;
}

.item .left > div svg{
    margin: 2px 7px 0 0;
}

.item .right{
    width: 45px;
}

.item .right{display: flex;
flex-direction: column;
}

.item .right > .button{
    margin-bottom: 7px;
}

.item .right .button button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    filter: drop-shadow(0px 0px 3px #fff);
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
}

.item .right .button svg{
    fill: var(--fill-gray);
    width: 20px;
    height: 20px;
}

